body{
	background-color: #eee;
}
section{
	margin-top: 20px;
}
#businessDetail{
	background-color: white;
	padding-bottom: 70px;
	padding-top: 55px;
}
.formHeader{
	padding: 7px 10px;
	border-left: 5px solid hsl(19, 88%, 64%);
	/*margin-bottom: 30px;*/
}
.profileBox{
	text-align: center;
}
.profileBox img{
	width: 35%;
	height: auto;
	border-radius: 50%;
	border:1px solid;
}
.profileBox .uploadBtn{
	border: 0px;
	position: relative;
	background-color: hsl(19, 88%, 64%);

}
.profileBox .uploadBtn label{
	color: #FFF;
	margin-bottom: 0px;
}
.profileBox p{
	text-align: left;
}
.profileBox .btnGroup{
	margin-top: 20px;
}
.profileBox .btnGroup button{
	border: 0px;
	position: relative;
	background-color: hsl(19, 88%, 64%);
	color: #FFF;
}
.messageBox .form-control{
	width: 55%;
}
.messageBox a{
	line-height: 34px;
}
.messageBox textarea{
	resize:none;
}
.messageBox form{
	background-color: white;
}
.messageBox button{
	margin-top: 45px;
}
section .btn-warning{
	font-size: 14px;
	border-radius: 4px;
}
footer .col-md-10{
	margin-top: 65px;
}